.details-page {
  background-color: #131722;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container {
  width: 60%;
  max-width: 1000px;
  height: 70vh;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* outline: auto; */
}

.poster-container {
  aspect-ratio: 1 / 1.5;
  width: 40%;
  /* outline: auto; */
}

.info-container {
  aspect-ratio: 1 / 1.2;
  width: 50%;
  padding-top: 3rem;
  /* outline: auto; */
}

.title-rating {
  /* background-color: rgba(129, 122, 122, 0.178); */
  margin: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: bold;
  padding: 0 10px;
}

.more-info {
  background-image: linear-gradient(#131722, #1c2847);
  height: 20vh;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}
