.header {
    height: 9vh;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 0.5rem;
}

.header-container {
    /* background-color: aliceblue; */
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    height: 5vh;
    border-bottom: #fff solid 1px;
}